.container-skills {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }

  .skill-card {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .skill-card {
    width: 100%;
  }

  .skill-icon {
    width: 40px;
    height: 40px;
  }
}

.skill-card {
  border-radius: 15px;
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px rgba(183, 113, 229, 0.5), 
              inset 0 0 15px rgba(183, 113, 229, 0.2);
  border-color: #B771E5;
}

.card-header {
  background: linear-gradient(90deg, #493D9E, #6a5acd);
  color: white;
  font-size: 1.2rem;
  padding: 15px;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.card-body {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
}

.skill-icon {
  width: 50px;
  height: 50px;
}

.skill-icon:hover {
  filter: grayscale(0%);
}

.header {
  margin-bottom: 1rem;
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
}
