header {
  position: sticky;
  max-width: 1000px;
  top: 0;
  z-index: 10
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1000px;
  margin: 2rem 0;
}

.bubble {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
