.container-footer {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 2rem;
  position: relative;
  gap: 2rem;
}
.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}
