<div class="contact-container" id="contact">
  <div class="contact-header">
    <h2>Contacto</h2>
    <p>¡Estoy lista para formar parte de tu equipo!</p>
  </div>

  <div class="contact-grid">
    <div class="contact-item">
      <i class="ri-mail-fill"></i>
      <a href="mailto:karlaherrerazav@gmail.com">karlaherrerazav&#64;gmail.com</a>
    </div>

    <div class="contact-item">
      <i class="ri-phone-fill"></i>
      <p>+51 922 986 577</p>
    </div>

    <div class="contact-item">
      <i class="ri-map-pin-2-fill"></i>
      <p>Trujillo, Perú</p>
    </div>

    <div class="contact-item">
      <i class="ri-linkedin-fill"></i>
      <a href="https://www.linkedin.com/in/karla-herrerazav" target="_blank">LinkedIn</a>
    </div>

    <div class="contact-item">
      <i class="ri-github-fill"></i>
      <a href="https://github.com/karla-h" target="_blank">GitHub</a>
    </div>
  </div>
</div>
