<section class="container-about" id="about">
  <span class="blur"></span>
  <span class="blur"></span>
  <figure class="image">
    <img src="images/header.png" alt="Imagen">
  </figure>
  <header class="content">
    <h1>Hola, soy <span>Karla Herrera</span></h1>
    <p>
      Soy estudiante de Ingeniería de Sistemas, especializada en desarrollo de software web y móvil.
      Me apasiona crear soluciones eficientes, seguras y escalables utilizando las mejores tecnologías,
      siempre con un enfoque ético y profesional.
    </p>
  </header>
</section>
