<section>
  <h2>Software Developer</h2>
  <h1>Karla Herrera</h1>
  <p>Full Stack</p>
  <div>
    <a href="https://www.linkedin.com/in/karla-herrerazav" target="_blank">
      <button class="button">
        <span class="button-content">LinkedIn </span>
      </button>
    </a>
    <a href="https://github.com/karla-h" target="_blank">
      <button class="button">
        <span class="button-content">Github </span>
      </button>
    </a>
    <a href="/Karla Herrera_CV.pdf" target="_blank">
      <button class="button">
        <span class="button-content">CV </span>
      </button>
    </a>
  </div>
  <div class="tec">
    @for (image of images; track $index) {
    <img [src]="image" alt="h">
    }
  </div>
</section>
